@model IEnumerable<CatMash.Repository.Models.Cats>

@{
    ViewData["Title"] = "Cats Gallery";
}

<h1>Cats Gallery</h1>

    @*<style >
        .item {
        position:relative;
        padding-top:20px;
        display:inline-block;
    }
    .notify-badge{
        position: absolute;
        right:-20px;
        top:10px;
        background:green;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color:white;
        padding:5px 10px;
        font-size:20px;
    }
    </style>*@


            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                                    <img src="@Url.Content(item.Url)" width="100%" height="70%" alt="Item.Id" />
                            <div >
                                <div  class="alert alert-success" role="alert">Note : <span class="badge badge-success">@item.Note</span></div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
@*<style>
    body {
        margin-top: 20px;
    }

    .mt-20 {
        margin-top: 20px !important;
    }

    .relative {
        position: relative;
    }

    .badge-corner:empty {
        display: inline-block;
    }

    .badge-corner {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 66px solid #888;
        border-top-color: rgba(0, 0, 0, 0.3);
        border-left: 66px solid transparent;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }

        .badge-corner span {
            position: absolute;
            top: -52px;
            left: -28px;
            font-size: 16px;
            color: #fff;
        }

    .badge-corner-base {
        border-top-color: #3498db;
    }

    .badge-corner-alt {
        border-top-color: #9cd70e;
    }

    .badge-corner-light {
        border-top-color: #ecf0f1;
    }

        .badge-corner-light span {
            color: #2c3e50;
        }

    .badge-corner-dark {
        border-top-color: #131313;
    }

    .badge-corner-orange {
        border-top-color: #ff8a3c;
    }

    .relative img {
        margin-top: 6px;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="relative">
                    <img src="@Url.Content(item.Url)" width="80%" height="80%" alt="Item.Id" />
                    <a href="#" class="badge-corner badge-corner-light">
                        <span class="badge badge-success">@item.Note</span>
                    </a>
                </div>
            </div>
        }
    </div>
</div>*@