@model IEnumerable<CatMash.Repository.Models.Cats>

@{
    ViewData["Title"] = "Cats Gallery";
}

<h1>Cats Gallery</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <img src="@Url.Content(item.Url)" width="100%" height="70%" alt="Item.Id" />
                <div>
                    <div class="alert alert-success" role="alert">Note : <span class="badge badge-success">@item.Note</span></div>
                </div>
            </div>
        }
    </div>
</div>